<nav>
  <ul>
    <li> <%=link_to("Enregistrements", root_path)%> </li>
    <li> <%=link_to("Historique", number_path)%> </li>
    <li> <%=link_to("Statistiques", statistique_path)%> </li>
  </ul>
</nav>
